.add-to-cart {
  height: 100vh;
  background-color: #f0f0f0;
  padding: 1rem 0;
}

.cart {
  width: 300px;
  background-color: white;
  margin: auto;
  padding: 2rem;
}
.items {
  display: flex;
  gap: 3rem;
}
.restaurant-details {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}
.item-total,
.total,
.delivery,
.platform-fee {
  display: flex;
  justify-content: space-between;
  line-height: 2;
}
.delivery {
  border-bottom: 1px dashed #f0f0f0;
}
.non-veg {
  border: 1px solid red;
  width: fit-content;
  margin: 1rem 0;
}
.veg {
  border: 1px solid var(--btn-color);
  padding: 0 0.2rem 0;
  width: fit-content;
  margin: 1rem 0;
}
.cut {
  font-style: italic;
  text-decoration: line-through;
  color: lightgray;
}
.btn {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
}
