/* sign up */
.signup {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupContainer h3 {
  font-size: 2rem;
  color: #e12830;
  justify-content: center;
  text-align: center;
}

.signupContainer {
  width: fit-content;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
}
.already-account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* input */
input {
  width: 300px;
  height: 40px;
  padding: 0 0.5rem;
  font-size: 1rem;
  color: rgb(35, 34, 34);
  border: none;
  background-color: #ded4d85d;
  border-radius: 10px;
  outline: none;
  margin: 0.5rem 0;
}

input::placeholder {
  color: #848585;
  font-size: 15px;
}
input:focus {
  border-color: #4299e1;
}
.inputContainer {
  width: fit-content;
  margin: auto;
}
/* Input errors */
.inputError {
  width: 300px;
  background-color: rgb(239, 250, 250);
  border-radius: 10px;
  color: rgb(66, 66, 66);
  outline: none;
  height: 40px;
  font-size: 1rem;
  margin: 0.5rem;
  border: 2px solid #e12830;
}

.error {
  margin: 0 8px;
  padding: 0;
  text-align: left;
  font-size: 14px;
  color: #e12830;
}

/* sign up button */
.button {
  padding: 0.8rem 0;
  background-color: #e12830;
  width: 100%;
  margin: 1rem 0;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.button:disabled {
  opacity: 0.35;
}

/* login */
.login {
  color: #e12830;
}
.login:hover {
  cursor: pointer;
}
@media (max-width: 700px) {
  .signup {
    background: none;
  }
}
