/* search container */
.search {
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
/* All Restaurants */
.all-restaurats {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: auto;
  flex-wrap: wrap;
  gap: 3rem;
}

.button-container {
  margin: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  
  
}
/* Media Query for Medium and small Devices */
@media screen and (max-width: 830px) {
  .search {
    flex-direction: column;
  }
}
