/* offers main container */
.offers-container {
  width: 75vw;
  margin: 3rem auto;
}

/* heading and arrow icons  */
.heading {
  display: flex;
  justify-content: space-between;
}
.arrow-container {
  display: flex;
  gap: 1rem;
}
.left-icon:hover,
.right-icon:hover {
  cursor: pointer;
  color: gray;
}

/* offers inner container */
.offers {
  display: flex;
  gap: 2rem;
  overflow-x: scroll;
}

.offers::-webkit-scrollbar {
  display: none;
}

/* media query for small device */
@media screen and (max-width: 480px) {
  .offer-img {
    width: 200px;
  }
}
