/* Menu */
.dish-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 2rem 0;
}

.accordion {
  padding: 0.5rem 0;
  background-color: rgb(233, 230, 230);
  margin: 0.5rem;
}
.category {
  font-weight: bold;
  margin: 0;
}
.dish {
  margin: 0;
}
.price {
  margin: 0.5rem 0;
}
.detail {
  color: gray;
}
.non-veg {
  border: 1px solid red;
  width: fit-content;
  margin: 1rem 0;
}
.veg {
  border: 1px solid var(--btn-color);
  padding: 0 0.2rem 0;
  width: fit-content;
  margin: 1rem 0;
}
.dish-image {
  border-radius: 5px;
  position: relative;
}

/* Button */
.add-button {
  padding: 0.5rem 2rem;
  border: none;
  color: var(--btn-color);
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.add-button:hover {
  background-color: var(--btn-color);
  color: white;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-btn {
  padding: 0.5rem 2rem;
  border: none;
  color: var(--btn-color);
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
