/* color variables */
:root {
  --btn-color: #60b246;
  --border-color: #f0f0f0;
}
/* container */
.menu-container {
  width: 40vw;

  padding: 1rem;
  margin: auto;
}

/* Restaurant Details */
.about-restaurant {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.cuisines {
  margin: 0;
  font-size: small;
}
.small {
  font-size: small;
}
.rating {
  padding: 0.3rem 0.5rem;
  color: rgb(31, 177, 31);
  border: 1px solid var(--border-color);
  background: white;
  border-radius: 5px;
}
.price-del {
  display: flex;
  gap: 2rem;
}
.hr {
  margin-top: 2rem;
  width: 100%;
  border-bottom: 1px dashed lightgray;
}
.distance {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.delivery-time {
  display: flex;
  gap: 0.5rem;
}
/* Offers */
.offers-container {
  display: flex;
  gap: 2rem;

  overflow-x: scroll;
}
.header {
  position: relative;
  bottom: 5px;
  margin: 0.2rem;
  font-size: 14px;

  font-weight: bold;
}

.offers-container::-webkit-scrollbar {
  display: none;
}
.offers {
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin: 1rem;
}
.coupon {
  font-size: 13px;
}
.offers > h5,
.offers > p {
  margin: 0.2rem;
  width: 200px;
}
.offers-text {
  width: max-content;
}

/* icons */
.icon {
  margin-top: 1rem;
}
.rating-icon {
  margin-right: 0.3rem;
}

/* Footer */
.license-footer {
  background-color: #f1f1f6;
  color: #999aa2;
  padding: 1rem;
  margin-top: 5rem;
}

.license {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu {
  min-height: fit-content;
}

/* media Query for small device */

@media screen and (max-width: 786px) {
  .menu-container {
    width: 90vw;
  }
}
