.header {
  background: #fff;
  padding: 1rem 0;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
}
.item-category {
  margin: 0 0.5rem;
  font-weight: bold;
}
.arrow {
  margin: 0 0.5rem;
}
