/* Default styles for mobile devices */
/* navbar container */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e12830;
  box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.35);
}

.logo {
  border-radius: 50px;
}

/* nav container */
.nav-container {
  width: 100vw; /* Full width for mobile devices */
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
  font-size: 1.2rem;
}

/* nav items */
.nav-items-container {
  display: none; /* Hide on mobile by default */
}

.nav-item {
  list-style-type: none;
}
.nav-item:hover {
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: #e12830;
}

/* Media Query for larger screens */
@media screen and (min-width: 301px) {
  /* Revert to your original styles for larger screens here */
  .nav-container {
    position: relative;
    width: 85vw;
  }

  .nav-items-container {
    position: fixed;
    bottom: 0;
    top: auto; /* Ensures it sticks to the bottom */
    z-index: 3;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 1rem 0;
    display: flex; /* Show on screens wider than 300px */
  }

  .logo {
    margin: 0 2rem;
  }

  .d-none {
    display: none;
  }

  .nav-container {
    width: 100vw;
  }
}
