/* navbar container */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e12830;
  box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.35);
}

.logo {
  border-radius: 50px;
}
/* 
nav links  */
.nav-container {
  width: 85vw;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;

  font-size: 1.2rem;
}

/* nav items */
.nav-items-container {
  display: flex;
  gap: 2rem;
}

.nav-item {
  list-style-type: none;
}
.nav-item:hover {
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: #e12830;
}
.item-count{
  font-size: small;
  background-color:  #e12830;
  color: white;
  position: relative;
  padding:2px 6px;
  border-radius: 50%;
  bottom: 13px;
  right: 6px;
  font-weight: bold;
}
/* Media Query for small Devices */

@media screen and (max-width: 786px) {
  .nav-items-container {
    position: fixed;
    bottom: 0;
    z-index: 3;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 1rem 0;
  }
  .logo {
    margin: 0 2rem;
  }
  .d-none {
    display: none;
  }
  .nav-container {
    width: 100vw;
  }
}

@media screen and (max-width: 300px) {
  .nav-items-container {
    gap: 2rem;
  }
}
