.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e12830;
}
.logo {
  border-radius: 50px;
}

.nav-container {
  width: 85vw;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;

  color: #fff;
  font-size: 1.2rem;
}

.nav-items-container {
  display: flex;
  gap: 2rem;
}

.nav-item {
  list-style-type: none;
}

@media screen and (max-width: 480px) {
  .nav-items-container {
    display: none;
  }
}
